*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* <-- header --> */

.header{
    width:100%;
    background-color:#000;
}

.container{
    width:90%;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.container .navegacion > a{
    color:#fff;
    text-decoration:none;
    padding-left:2em;
    font-family:'Roboto';
}

.navegacion a:hover{
    color:#23bbee;
}

/* <-- cierre del mi header --> */

/* <-- hero --> */

.hero{
    background-image:url(../img/hero4.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    height:70vh;
}

.padre{
    position:relative;
}

.presentation{
    color:white;
    padding-top:5em;
}

.presentation h1{
    font-family:'Roboto';
    font-size:38px;
}

.presentation p{
    font-size:20px;
}

.btn{
    margin-top:20px;
    background-color:#e2361c;
    color:white;
    padding:10px;
    border-radius:10%;

}

.capa{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
}